# Buisness Inteligence Project on Moroccan universities
This project aims to exctract insights from Scopus global data about moroccan universities
then visulize the results on **Power Bi**
### Task1 outlines:
- Understand the meaning of each column
- Identify the objectives
- Discover paterns within data
- Data cleaning
- Data modeling

### Task2 outlines:
- Identify tools to store the data
- Connect the **Power BI** to the storage
- Ensure the atoumatic update
- Create and develop with dashboards

Install required packages

## DATA UNDERSTANDING

In [ ]:
import pandas as pd

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dataset=pd.read_csv("/content/drive/MyDrive/Data-Scopus/DataSample/combined_sampled_data.csv",low_memory=False)

Get close to data

In [ ]:
dataset

,Authors,Author full names,Author(s) ID,Title,Year,Source title,Volume,Issue,Art. No.,Page start,Page end,Page count,Cited by,DOI,Link,Affiliations,Authors with affiliations,Abstract,Author Keywords,Index Keywords,Molecular Sequence Numbers,Chemicals/CAS,Tradenames,Manufacturers,Funding Details,Funding Texts,References,Correspondence Address,Editors,Publisher,Sponsors,Conference name,Conference date,Conference location,Conference code,ISSN,ISBN,CODEN,PubMed ID,Language of Original Document,Abbreviated Source Title,Document Type,Publication Stage,Open Access,Source,EID
0,Ouassou M.; Mukhaimar M.; El Amrani A.; Kroyma...,"Ouassou, Malika (55982817300); Mukhaimar, Mais...",55982817300; 57192164768; 36843980600; 8614731...,Biosynthesis of indole glucosinolates and ecol...,2019,Comptes Rendus - Biologies,342,3-4,NaN,58,80,22.0,5,10.1016/j.crvi.2019.03.005,https://www.scopus.com/inward/record.uri?eid=2...,"Unité « Écologie, systématique et évolution »,...","Ouassou M., Unité « Écologie, systématique et ...",Indole glucosinolates are plant secondary meta...,Brassicales; Phytoalexin; Phytoanticipin; Spec...,Brassicaceae; Ecology; Glucosinolates; Indoles...,NaN,"Glucosinolates, ; Indoles,",NaN,NaN,NaN,NaN,"Zhao N., Wang G., Norris A., Chen X., Chen F.,...","O. Chauveau; Unité « Écologie, systématique et...",NaN,Elsevier Masson SAS,NaN,NaN,NaN,NaN,NaN,16310691,NaN,CRBOC,31088733.0,English,C. R. Biol.,Short survey,Final,All Open Access; Green Open Access; Hybrid Gol...,Scopus,2-s2.0-85065333878
1,Ouadoud M.; Chafiq T.; Rida N.; Chkouri M.Y.,"Ouadoud, Mohammed (57118204100); Chafiq, Tarik...",57118204100; 57035452200; 57205408147; 3671155...,Generate a meta-model content for collaboratio...,2019,International Journal of Interactive Mobile Te...,13,1,NaN,37,52,15.0,1,10.3991/ijim.v13i01.9440,https://www.scopus.com/inward/record.uri?eid=2...,"Laboratory of Informatics, Research Operationa...","Ouadoud M., Laboratory of Informatics, Researc...",The context of this work is that of designing ...,Collaboration space; Designing an IMS-LD meta-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ouadoud M., Chkouri M.Y., Nejjari A., Kadiri K...","M. Ouadoud; Laboratory of Informatics, Researc...",NaN,International Association of Online Engineering,NaN,NaN,NaN,NaN,NaN,18657923,NaN,NaN,NaN,English,Int. J. Interact. Mob. Technol.,Article,Final,All Open Access; Gold Open Access,Scopus,2-s2.0-85063323958
2,Naja A.; Boulmalf M.; Essaaidi M.,"Naja, Assia (56925051700); Boulmalf, Mohammed ...",56925051700; 16238181200; 55924155500,A game theoretical based rebroadcasting protoc...,2019,2019 15th International Wireless Communication...,NaN,NaN,8766594,591,596,5.0,3,10.1109/IWCMC.2019.8766594,https://www.scopus.com/inward/record.uri?eid=2...,"Mohammed v University in Rabat, Morocco; Inter...","Naja A., Mohammed v University in Rabat, Moroc...",Vehicular Ad-hoc Networks (VANETs) are a categ...,Broadcast storm problem; Broadcasting protocol...,Accidents; Computation theory; Game theory; Mo...,NaN,NaN,NaN,NaN,International university of Rabat; Universitas...,We would like to thank and express our gratitu...,"Karagiannis G., Altintas O., Ekici E., Heijenk...",NaN,NaN,Institute of Electrical and Electronics Engine...,NaN,15th IEEE International Wireless Communication...,24 June 2019 through 28 June 2019,Tangier,149875.0,NaN,978-153867747-6,NaN,NaN,English,"Int. Wirel. Commun. Mob. Comput. Conf., IWCMC",Conference paper,Final,NaN,Scopus,2-s2.0-85073890950
3,Arhrib A.; Maniatis M.,"Arhrib, A. (6701409798); Maniatis, M. (1512707...",6701409798; 15127075500,The two-real-singlet Dark Matter model,2019,"Physics Letters, Section B: Nuclear, Elementar...",796,NaN,NaN,15,19,4.0,6,10.1016/j.physletb.2019.07.023,https://www.scopus.com/inward/record.uri?eid=2...,"Abdelmalek Essaadi University, Faculty of Scie...","Arhrib A., Abdelmalek Essaadi University, Facu...",We revisit a Dark Matter model with an extensi...,NaN,NaN,NaN,NaN,NaN,NaN,"UBB Grant Cosmología y Partículas Elementales,...",A.A. acknowledges the Alexander von Humboldt F...,"Silveira V., Zee A., Scalar phantoms, Phys. Le...","M. Maniatis; Departamento de Ciencias Básicas,...",NaN,Elsevier B.V.,NaN,NaN,NaN,NaN,NaN,03702693,NaN,PYLBA,NaN,English,Phys Lett Sect B Nucl Elem Part High-Energy Phys,Article,Final,All Open Access; Gold Open Access; Green Open ...,Scopus,2-s2.0-85069575227
4,Abumsimir B.; Ennaji M.M.,"Abumsimir, Berjas (57210635732); Ennaji, Moula...",57210635732; 55407248700,Suggested parameters to setup y chromosome mic...,2019,Future Oncology,15,24,NaN,2791,2794,3.0,0,10.2217/fon-2019-0197,https://www.scopus.com/inward/record.uri?eid=2...,Team of Virology Oncology and Medical Biotechn...,"Abumsimir B., Team of Virology Oncology and Me...",[No abstract available],genetic risk; microsatellites; prostate cancer...,"Chromosomes, Human, Y; Genetic Predisposition ...",NaN,NaN,NaN,NaN,NaN,NaN,"Pernar C.H., Ebot E.M., Wilson K.M., Mucci L.A...",M.M. Ennaji; Team of Virology Oncology and Med...,NaN,Future Medicine Ltd.,NaN,NaN,NaN,NaN,NaN,14796694,NaN,NaN,31429608.0,English,Future Oncol.,Review,Final,All Open Access; Bronze Open Access,Scopus,2-s2.0-85071155949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6301,Akenoun B.; Dahbi S.; Tahiri N.; El Bounagui O...,"Akenoun, Boutaina (57701966500); Dahbi, Smahan...",57701966500; 57203187804; 26639905000; 3536832...,Engineering the optoelectronic and thermoelect...,2024,Journal of Physics and Chemistry of Solids,194,NaN,112229,NaN,NaN,NaN,2,10.1016/j.jpcs.2024.112229,https://www.scopus.com/inward/record.uri?eid=2...,Laboratoire de Matière Condensée et Sciences I...,"Akenoun B., Laboratoire de Matière Condensée e...",First-principles calculations are used to stud...,Cs<sub>2</sub>BiAgY<sub>6</sub> (Y= Br or Cl) ...,Atoms; Bromine compounds; Cell engineering; Ch...,NaN,NaN,NaN,NaN,NaN,NaN,"Bilal M., Jalali-Asadabadi S., Ahmad R., Ahmad...",N. Tahiri; Laboratoire de Matière Condensée et...,NaN,Elsevier Ltd,NaN,NaN,NaN,NaN,NaN,00223697,NaN,JPCSA,NaN,English,J Phys Chem Solids,Article,Final,NaN,Scopus,2-s2.0-85200215906
6302,Hamdani A.; Bouda S.; Adiba A.; Boutagayout A....,"Hamdani, Anas (57218364520); Bouda, Said (2443...",57218364520; 24437562900; 57218364797; 5721894...,Linking carbohydrate and amino acid reserves i...,2024,Vegetos,NaN,NaN,NaN,NaN,NaN,NaN,0,10.1007/s42535-024-01009-9,https://www.scopus.com/inward/record.uri?eid=2...,National Institute of Agricultural Research (I...,"Hamdani A., National Institute of Agricultural...",This study assessed the effect of climatic con...,Climate; Phenology; Production; Prunus domesti...,NaN,NaN,NaN,NaN,NaN,Icelandic Ministry of Fisheries and Agricultur...,This work was financed by the Ministry of Agri...,"Abbott D.L., The effect of four controlled win...",R. Razouk; National Institute of Agricultural ...,NaN,Springer,NaN,NaN,NaN,NaN,NaN,09704078,NaN,NaN,NaN,English,Vegetos,Article,Article in press,NaN,Scopus,2-s2.0-85201631380
6303,Mahfoud H.; Etber A.; Errmili K.; Khairoun S.;...,"Mahfoud, Hounaida (57766182400); Etber, Amina ...",57766182400; 57220042881; 58912559300; 5891353...,Ovarian vein and inferior vena cava thrombosis...,2024,Case Reports in Women's Health,41,NaN,e00592,NaN,NaN,NaN,0,10.1016/j.crwh.2024.e00592,https://www.scopus.com/inward/record.uri?eid=2...,Gynaecology-Obstetrics and Endoscopy Departmen...,"Mahfoud H., Gynaecology-Obstetrics and Endosco...",Ovarian vein thrombosis (OVT) is a rare but se...,Anticoagulant treatment; Fever; Inferior vena ...,amoxicillin plus clavulanic acid; antibiotic a...,NaN,"amoxicillin plus clavulanic acid, 74469-00-4, ...",NaN,NaN,NaN,NaN,"Basili G., Romano N., Bimbi M., Lorenzetti L.,...",H. Mahfoud; Gynaecology-Obstetrics and Endosco...,NaN,Elsevier B.V.,NaN,NaN,NaN,NaN,NaN,22149112,NaN,NaN,NaN,English,Case Rep. Women's Health,Article,Final,All Open Access; Gold Open Access,Scopus,2-s2.0-85186341526
6304,Derraz Y.; Korchiyne R.; Laraqui A.; Benassila...,"Derraz, Yasmin (59261322800); Korchiyne, Redou...",59261322800; 55496365400; 56647979600; 5933257...,Machine Learning in Breast Cancer Diagnosis: A...,2024,Proceedings - 11th International Conference on...,NaN,NaN,NaN,NaN,NaN,NaN,0,10.1109/WINCOM62286.2024.10657943,https://www.scopus.com/inward/record.uri?eid=2...,"Ibn Tofail University, Faculty of Sciences, Ke...","Derraz Y., Ibn Tofail University, Faculty of S...",Breast cancer remains a significant global hea...,Breast Cancer Diagnosis; Clinical Outcomes; He...,Contrastive Learning; Electronic health record...,NaN,NaN,NaN,NaN,"Université Ibn Tofail, UIT",The authors would like to express their gratit...,"Sung H., Ferlay J., Siegel R.L., Laversanne M....",NaN,Zaidi S.A.R.; Ibrahimi K.; El Kamili M.; Kobba...,Institute of Electrical and Electronics Engine...,NaN,11th International Conference on Wireless Netw...,23 July 2024 through 25 July 2024,Leeds,202430.0,NaN,979-835037786-6,NaN,NaN,English,Proc. - Int. Conf. Wirel. Networks Mob. Commun...,Conference paper,Final,NaN,Scopus,2-s2.0-85204287359
6305,Miskaoui M.,"Miskaoui, M. (56919627300)",56919627300,Neutrino model with broken μ -τ symmetry and u...,2024,Physics of the Dark Universe,45,NaN,101507,NaN,NaN,NaN,0,10.1016/j.dark.2024.101507,https://www.scopus.com/inward/record.uri?eid=2...,"Faculty of Science, Mohammed V University, Rab...","Miskaoui M., Faculty of Science, Mohammed V Un...",We propose a new neutrino flavor model based o...,Flavor symmetries; Leptogenesis; MSSM; Neutrin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Blum A., Hagedorn C., Lindner M., Fermion mass...",NaN,NaN,Elsevier B.V.,NaN,NaN,NaN,NaN,NaN,22126864,NaN,NaN,NaN,English,Phys. Dark Universe,Article,Final,NaN,Scopus,2-s2.0-85191438548

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6306 entries, 0 to 6305
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Authors                        6306 non-null   object
 1   Author full names              6306 non-null   object
 2   Author(s) ID                   6306 non-null   object
 3   Title                          6305 non-null   object
 4   Year                           6306 non-null   int64
 5   Source title                   6306 non-null   object
 6   Volume                         5359 non-null   object
 7   Issue                          3276 non-null   object
 8   Art. No.                       2334 non-null   object
 9   Page start                     3572 non-null   object
 10  Page end                       3538 non-null   object
 11  Page count                     3524 non-null   float64
 12  Cited by                       6306 non-null   int64
 13  DOI                            6026 non-null   object
 14  Link                           6306 non-null   object
 15  Affiliations                   6306 non-null   object
 16  Authors with affiliations      6306 non-null   object
 17  Abstract                       6306 non-null   object
 18  Author Keywords                5599 non-null   object
 19  Index Keywords                 3694 non-null   object
 20  Molecular Sequence Numbers     0 non-null      float64
 21  Chemicals/CAS                  356 non-null    object
 22  Tradenames                     55 non-null     object
 23  Manufacturers                  36 non-null     object
 24  Funding Details                1624 non-null   object
 25  Funding Texts                  1608 non-null   object
 26  References                     3768 non-null   object
 27  Correspondence Address         5125 non-null   object
 28  Editors                        924 non-null    object
 29  Publisher                      6298 non-null   object
 30  Sponsors                       102 non-null    object
 31  Conference name                778 non-null    object
 32  Conference date                778 non-null    object
 33  Conference location            778 non-null    object
 34  Conference code                778 non-null    float64
 35  ISSN                           5630 non-null   object
 36  ISBN                           1154 non-null   object
 37  CODEN                          1348 non-null   object
 38  PubMed ID                      691 non-null    float64
 39  Language of Original Document  6306 non-null   object
 40  Abbreviated Source Title       6303 non-null   object
 41  Document Type                  6306 non-null   object
 42  Publication Stage              6306 non-null   object
 43  Open Access                    2620 non-null   object
 44  Source                         6306 non-null   object
 45  EID                            6306 non-null   object
dtypes: float64(4), int64(2), object(40)
memory usage: 2.2+ MB

identify the unique columns

In [ ]:
if dataset.duplicated().any():
    print('yes')
else:
    print('no')

no

In [ ]:
dataset['EID'].duplicated().any()

False

In [ ]:
dataset['DOI'].duplicated().any()

True

In [ ]:
dataset['Author(s) ID'].duplicated().any()

True

Check null values

In [ ]:
dataset.isna().sum()

Authors                             0
Author full names                   0
Author(s) ID                        0
Title                               1
Year                                0
Source title                        0
Volume                            947
Issue                            3030
Art. No.                         3972
Page start                       2734
Page end                         2768
Page count                       2782
Cited by                            0
DOI                               280
Link                                0
Affiliations                        0
Authors with affiliations           0
Abstract                            0
Author Keywords                   707
Index Keywords                   2612
Molecular Sequence Numbers       6306
Chemicals/CAS                    5950
Tradenames                       6251
Manufacturers                    6270
Funding Details                  4682
Funding Texts                    4698
References                       2538
Correspondence Address           1181
Editors                          5382
Publisher                           8
Sponsors                         6204
Conference name                  5528
Conference date                  5528
Conference location              5528
Conference code                  5528
ISSN                              676
ISBN                             5152
CODEN                            4958
PubMed ID                        5615
Language of Original Document       0
Abbreviated Source Title            3
Document Type                       0
Publication Stage                   0
Open Access                      3686
Source                              0
EID                                 0
dtype: int64

In [ ]:
dataset.columns

Index(['Authors', 'Author full names', 'Author(s) ID', 'Title', 'Year',
       'Source title', 'Volume', 'Issue', 'Art. No.', 'Page start', 'Page end',
       'Page count', 'Cited by', 'DOI', 'Link', 'Affiliations',
       'Authors with affiliations', 'Abstract', 'Author Keywords',
       'Index Keywords', 'Molecular Sequence Numbers', 'Chemicals/CAS',
       'Tradenames', 'Manufacturers', 'Funding Details', 'Funding Texts',
       'References', 'Correspondence Address', 'Editors', 'Publisher',
       'Sponsors', 'Conference name', 'Conference date', 'Conference location',
       'Conference code', 'ISSN', 'ISBN', 'CODEN', 'PubMed ID',
       'Language of Original Document', 'Abbreviated Source Title',
       'Document Type', 'Publication Stage', 'Open Access', 'Source', 'EID'],
      dtype='object')

## **DATA MODELING**

#### 1. **Exctract data to create dimension table 'publication'**

In [ ]:
# Select the columns for the Publication table
publication_df = dataset[['EID', 'Title', 'Year', 'Volume', 'Issue', 'Art. No.',
                          'Page start', 'Page end', 'Page count', 'Cited by', 'DOI', 'Link',
                          'Abstract', 'Index Keywords', 'Molecular Sequence Numbers', 'Chemicals/CAS',
                          'Tradenames', 'Manufacturers', 'Funding Details', 'Funding Texts',
                          'References', 'Correspondence Address', 'Editors', 'Sponsors',
                          'Conference name', 'Conference date', 'Conference location', 'Conference code',
                          'ISBN', 'CODEN', 'PubMed ID', 'Language of Original Document',
                          'Abbreviated Source Title', 'Document Type', 'Publication Stage',
                          'Open Access', 'Source']]

# Rename columns to follow consistent naming conventions
publication_df.columns = ['publication_id', 'title', 'year', 'volume', 'issue', 'art_no',
                          'page_start', 'page_end', 'page_count', 'cited_by', 'doi', 'link',
                          'abstract', 'index_keywords', 'molecular_sequence_numbers', 'chemicals_cas',
                          'tradenames', 'manufacturers', 'funding_details', 'funding_texts',
                          'references', 'correspondence_address', 'editors', 'sponsors',
                          'conference_name', 'conference_date', 'conference_location', 'conference_code',
                          'isbn', 'coden', 'pubmed_id', 'language_of_original_document',
                          'abbreviated_source_title', 'document_type', 'publication_stage',
                          'open_access', 'source']

# Save the publication table to a CSV file
publication_df.to_csv('/content/drive/MyDrive/publication_table.csv', index=False)

#### **2**. **Exctract data to create dimension table 'source'**

Identify the different sources

In [ ]:
# Get unique source titles
unique_source_titles = dataset['Source title'].unique()

# Display the unique source titles
print(unique_source_titles)
print(len(unique_source_titles))

['Frontiers in Microbiology' 'International Journal of Climatology'
 'Solid State Communications' ... 'Laser and Photonics Reviews'
 'European Journal of Soil Biology' 'Laterality']
6695

In [ ]:
# Count occurrences of each unique source title
source_title_counts = dataset['Source title'].value_counts()

# Display the counts
print(source_title_counts)

Source title
Pan African Medical Journal                                                                1421
Journal of Materials and Environmental Science                                              723
Lecture Notes in Networks and Systems                                                       357
Lecture Notes in Electrical Engineering                                                     270
Journal of Theoretical and Applied Information Technology                                   259
                                                                                           ...
Advances in Experimental Medicine and Biology                                                 1
Synthese Library                                                                              1
2022 9th International Conference on Electrical and Electronics Engineering, ICEEE 2022       1
IEEE Transactions on Instrumentation and Measurement                                          1
Laterality                                                                                    1
Name: count, Length: 6695, dtype: int64

In [ ]:
# Get unique ISSN
unique_source_titles = dataset['ISSN'].unique()

# Display the unique ISSN
print(unique_source_titles)
print(len(unique_source_titles))

['1664302X' '08998418' '00381098' ... '15730530' '10970142' '13841076']
4066

In [ ]:
# Get unique Publisher
unique_source_titles = dataset['Publisher'].unique()

# Display the unique Publisher
print(unique_source_titles)
print(len(unique_source_titles))

['Frontiers Media S.A.' 'John Wiley and Sons Ltd' 'Elsevier Ltd' ...
 'Springer Wien' 'Churchill Livingstone Inc.'
 'Botanical Society of America Inc.']
1088

In [ ]:
# Extract Source columns
source_df = dataset[['Source title', 'Publisher', 'ISSN']].drop_duplicates().reset_index(drop=True)

# Assign a unique ID to each source
source_df['source_id'] = range(1, len(source_df) + 1)

# Rename columns for consistency
source_df.columns = ['source_title', 'publisher', 'issn', 'source_id']

# Save the source table to a CSV file
source_df.to_csv('/content/drive/MyDrive/source_table.csv', index=False)

#### 3. **Exctract data to create dimension table 'author'**

Examine the **Author full names** column

In [ ]:
dataset['Author full names'][0]

'Mghazli, Najoua (57194021105); Bruneel, Odile (6506229203); Zouagui, Rahma (57226548652); Hakkou, Rachid (24329115800); Sbabou, Laila (35744137500)'

In [ ]:
dataset['Author full names'][1]

'Khouakhi, Abdou (25959184500); Driouech, Fatima (24464321700); Slater, Louise (14030760900); Waine, Toby (6506621501); Chafki, Omar (57226872744); Chehbouni, Abdelghani (7006296776); Raji, Otmane (55023725100)'

We need to extract the author names along with their IDs from the Author full names column and populate the author dimension table
for that we need exctracting information from 'Author full names' as author name and author ID.

In [ ]:
# Create an empty list to hold author data
author_data = []

# Iterate through each row in the dataset to extract authors
for index, row in dataset.iterrows():
    authors_string = row['Author full names']

    # Split the authors by '; ' to get individual author entries
    authors = authors_string.split('; ')

    for author in authors:
        # Split the author name and ID
        if '(' in author and ')' in author:
            name_id = author.split(' (')
            name = name_id[0].strip()  # Get the author's name
            author_id = name_id[1].replace(')', '').strip()  # Get the author's ID

            # Append to the author data list
            author_data.append({
                'full_name': name,
                'author_id_system': author_id
            })

# Create a DataFrame from the author data
author_df = pd.DataFrame(author_data)

# Drop duplicates to ensure each author is unique
author_df = author_df.drop_duplicates(subset=['full_name', 'author_id_system']).reset_index(drop=True)

# Add a unique author_id as a primary key
author_df['author_id'] = author_df.index + 1  # Start IDs from 1

# Save the author dimension table to a CSV file
author_df.to_csv('/content/drive/MyDrive/author_table.csv', index=False)

print("Author table created and saved as author_table.csv.")

Author table created and saved as author_table.csv.

This the results

In [ ]:
author_df

                       full_name author_id_system  author_id
0                Mghazli, Najoua      57194021105          1
1                 Bruneel, Odile       6506229203          2
2                 Zouagui, Rahma      57226548652          3
3                 Hakkou, Rachid      24329115800          4
4                  Sbabou, Laila      35744137500          5
...                          ...              ...        ...
102706             Kabanda, M.M.      15834833000     102707
102707          Picard, Delphine      55749293600     102708
102708       Zarhbouch, Benaissa      35281362700     102709
102709          Lamrini, Bouchra      12038918500     102710
102710  Le Lann, Marie Véronique       6701598270     102711

[102711 rows x 3 columns]

In [ ]:
author_df.isna().sum()

full_name           0
author_id_system    0
author_id           0
dtype: int64

we need know if the author id is unique or not

In [ ]:
author_df['author_id_system'].duplicated().any()

True

In [ ]:
author_df['full_name'].duplicated().any()

True

We can clearly see that the both columns contain duplicate values

In [ ]:
# Create a function to get duplicates for each column
def get_duplicates(df):
    duplicates_dict = {}
    for column in df.columns:
        # Find duplicated values in the column
        duplicated_values = df[df[column].duplicated()][column].unique()
        if len(duplicated_values) > 0:
            duplicates_dict[column] = duplicated_values.tolist()
    return duplicates_dict

# Get duplicates in the author_df DataFrame
duplicates = get_duplicates(author_df)

# Convert the duplicates dictionary to a DataFrame for easier visualization
duplicates_df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in duplicates.items()]))
print(duplicates_df)

            full_name author_id_system
0       Kumar, Naveen       8230280600
1         Naamane, S.       7003544702
2          Mounir, H.      55867997200
3           Taibi, M.       6602649274
4      Zarrouk, Tarik      56275916700
...               ...              ...
13930             NaN      35073500200
13931             NaN      57193916806
13932             NaN      55622126400
13933             NaN      55174411100
13934             NaN      55935912100

[13935 rows x 2 columns]

In [ ]:
duplicates_df.isna().sum()

full_name           11956
author_id_system        0
dtype: int64

 The presence of duplicate values in the columns author dimension table  may produce beacuse  there are multiple **Authors per Publication**,
means each publication can have multiple authors.

If the same author contributes to different publications or is listed multiple times for the same publication, their names will appear as duplicates in the author table.

Or for example some authors have multiple IDs because they belong to diffrent universities or department

#### 4. **Exctract data to create dimension table 'Affiliation'**

At this stage we want to exctract information about affiliations and create the affiliation dimention table

In [ ]:
dataset[['Affiliations',	'Authors with affiliations'	]].isna().sum()

Affiliations                 0
Authors with affiliations    0
dtype: int64

In [ ]:
16303/len(dataset)*100

52.42796501157705

In [ ]:
dataset['Affiliations'][0]

'Center of Research Plants and Microbial Biotechnologies, Biodiversity and Environment, Team of Microbiology and Molecular Biology, Faculty of Sciences, Mohammed V University in Rabat, Rabat, Morocco; HSM, University of Montpellier, CNRS, IRD, Montpellier, France; Laboratoire des Matériaux Innovants, Energie et Développement Durable (IMED)_Laboratory, Faculty of Science and Technology, Cadi Ayyad University, Marrakesh, Morocco; Geology & Sustainable Mining Institute (GSMI), Mohammed VI Polytechnic University (UM6P), Ben Guerir, Morocco'

In [ ]:
dataset['Affiliations'][1]

'School of Water, Energy and Environment, Centre for Environmental and Agricultural Informatics, Cranfield University, Cranfield, United Kingdom; Mohammed VI Polytechnic University, Benguerir, Morocco; School of Geography and the Environment, University of Oxford, Oxford, United Kingdom; Direction Générale de la Météorologie, Casablanca, Morocco'

In [ ]:
dataset['Affiliations'][3]

'LPNAMME, Laser Physics Group, Department of Physics, Faculty of Sciences, Chouaïb Doukkali University, El Jadida, P. B 20, 24000, Morocco; Hassan First University of Settat, École Nationale des Sciences Appliquées, LISA, Berrechid, 26100, Morocco; Department of General Requirements, University of Technology and Applied Sciences, Sur, 411, Oman'

In [ ]:
dataset['Affiliations'][5]

"University of Ghana School of Public Health, Ghana; University of Sheffield, United Kingdom; Department of Family and Consumer Sciences, University of Ghana, Ghana; West African Health Organisation, Burkina Faso; African Population and Health Research Center, Kenya; Centre for Food Policy, United Kingdom; Faculty of Science and Technology, Cheikh Anta Diop University of Dakar (UCAD), Senegal; University of Montreal, Canada; International Agency for Research on Cancer (IARC), France; Mohammed VI University of Health Sciences', Faculty of Medicine, Casablanca, Morocco; Montpellier Interdisciplinary centre on Sustainable Agri-food systems, French National Institute of Research for Sustainable Development (IRD), Montpellier, France"

In [ ]:
dataset['Affiliations'][5000]

'Service de Gynécologie-Obstetrique, Hôpital Militaire d’Instruction Mohammed V, Rabat, Morocco; Faculté de Médecine et de Pharmacie, Rabat, Morocco'

I need to know how many affiliations exist in the data

In [ ]:
affiliations = dataset['Affiliations'].unique()

In [ ]:
affiliations

array(['Unité « Écologie, systématique et évolution », UMR 8079, université Paris-Sud, CNRS, AgroParisTech, université Paris-Saclay, Orsay, 91405, France; Laboratory of Biochemistry and Molecular Genetics, Department of Biology, Faculty of Science and Technics, Abdelmalek Essaadi University, Tangier, Morocco; National Agricultural Research Center (NARC)–Jenin/Gaza, Ministry of Agriculture, Jenin, Palestine',
       'Laboratory of Informatics, Research Operational and Statistic Applied (LIROSA), Faculty of Sciences, Abdelmalek Essaâdi University, Morocco; University Hassan II, Casablanca, Morocco; Mohammed V University, Morocco; National School of Applied Sciences, Abdelmalek Essaadi University, Tetouan, Morocco',
       'Mohammed v University in Rabat, Morocco; International University of Rabat, FIL, TICLab, Morocco',
       ...,
       'Laboratoire de Matière Condensée et Sciences Interdisciplinires, Unité de Recherche Labellisée CNRST, URL-CNRST-17, Faculté des Sciences, Mohammed V University of Rabat, Morocco',
       'National Institute of Agricultural Research (INRA), BO 415, Rabat, Morocco; Laboratory of Agro-Industrial and Medical Biotechnologies, Faculty of Sciences and Techniques, University of Sultan Moulay Slimane, BP 523, Beni Mellal, Morocco; Regional Agricultural Research Center of Tadla, National Institute of Agricultural Research, P.O. Box 415, Avenue Ennasr, Rabat, 10090, Morocco; The Environment and Soil Microbiology Unit, Faculty of Sciences-Moulay Ismail University, B.P.11201 Zitoune, Meknes, 50000, Morocco',
       'Gynaecology-Obstetrics and Endoscopy Department, Maternity Souissi, University Hospital Center IBN SINA, University Mohammed V, Rabat, Morocco; Department of intensive care unit, Maternity Souissi, University Hospital Center IBN SINA, University Mohammed V, Rabat, Morocco'],
      dtype=object)

In [ ]:
len(affiliations)

14185

In [ ]:
Authors_affiliations = dataset['Authors with affiliations'].unique()

In [ ]:
Authors_affiliations

array(['Mghazli N., Center of Research Plants and Microbial Biotechnologies, Biodiversity and Environment, Team of Microbiology and Molecular Biology, Faculty of Sciences, Mohammed V University in Rabat, Rabat, Morocco, HSM, University of Montpellier, CNRS, IRD, Montpellier, France; Bruneel O., HSM, University of Montpellier, CNRS, IRD, Montpellier, France; Zouagui R., Center of Research Plants and Microbial Biotechnologies, Biodiversity and Environment, Team of Microbiology and Molecular Biology, Faculty of Sciences, Mohammed V University in Rabat, Rabat, Morocco; Hakkou R., Laboratoire des Matériaux Innovants, Energie et Développement Durable (IMED)_Laboratory, Faculty of Science and Technology, Cadi Ayyad University, Marrakesh, Morocco, Geology & Sustainable Mining Institute (GSMI), Mohammed VI Polytechnic University (UM6P), Ben Guerir, Morocco; Sbabou L., Center of Research Plants and Microbial Biotechnologies, Biodiversity and Environment, Team of Microbiology and Molecular Biology, Faculty of Sciences, Mohammed V University in Rabat, Rabat, Morocco',
       'Khouakhi A., School of Water, Energy and Environment, Centre for Environmental and Agricultural Informatics, Cranfield University, Cranfield, United Kingdom; Driouech F., Mohammed VI Polytechnic University, Benguerir, Morocco; Slater L., School of Geography and the Environment, University of Oxford, Oxford, United Kingdom; Waine T., School of Water, Energy and Environment, Centre for Environmental and Agricultural Informatics, Cranfield University, Cranfield, United Kingdom; Chafki O., Direction Générale de la Météorologie, Casablanca, Morocco; Chehbouni A., Mohammed VI Polytechnic University, Benguerir, Morocco; Raji O., Mohammed VI Polytechnic University, Benguerir, Morocco',
       'El Oujihi O., LMPGI, High School of Technology, Hassan II University of Casablanca, Morocco, CEDoc, National High School of Electricity and Mechanics (ENSEM), Hassan II University of Casablanca, Morocco; Tizliouine A., LMPGI, High School of Technology, Hassan II University of Casablanca, Morocco; Elouafi A., LPMAT, Faculty of Sciences Ain Chock, Hassan II University of Casablanca, Morocco; Salhi H., LMPGI, High School of Technology, Hassan II University of Casablanca, Morocco; Omari L.H., LPMAT, Faculty of Sciences Ain Chock, Hassan II University of Casablanca, Morocco',
       ...,
       "Amar H., Corrodys, Centre de Corrosion Marine et Biologique, 50120 Equeurdreville - Hainneville, 55 rue Beuzeville, BP 9, France; Benzakour J., Laboratoire d'Electrochimie et de Chimie Analytique, Université Cadi Ayyad, Faculté des Sciences Semlalia, Marrakech, BP 2390, Morocco; Derja A., Laboratoire d'Electrochimie et de Chimie Analytique, Université Cadi Ayyad, Faculté des Sciences Semlalia, Marrakech, BP 2390, Morocco; Villemin D., École Nationale Supérieure d'Ingénieurs, Caen UMR 6507 CNRS, 14050 Caen Cedex, Bd Maréchal Juin, France; Moreau B., École Nationale Supérieure d'Ingénieurs, Caen UMR 6507 CNRS, 14050 Caen Cedex, Bd Maréchal Juin, France; Braisaz T., Corrodys, Centre de Corrosion Marine et Biologique, 50120 Equeurdreville - Hainneville, 55 rue Beuzeville, BP 9, France; Tounsi A., Laboratoire d'Environnement, d'Electrochimie et de Réactivité aux interfaces, Faculté des Sciences et Techniques, Errachidia, BP 509 Boutalamine, Morocco",
       'Davies E.E., Ecole Supérieure Roi Fahd de Traduction, Tangier, BP 410, Morocco; Bentahila A., Ecole Supérieure Roi Fahd de Traduction, Tangier, BP 410, Morocco',
       nan], dtype=object)

In [ ]:
len(Authors_affiliations)

14633

In [ ]:
dataset['Authors with affiliations'][0]

'Mghazli N., Center of Research Plants and Microbial Biotechnologies, Biodiversity and Environment, Team of Microbiology and Molecular Biology, Faculty of Sciences, Mohammed V University in Rabat, Rabat, Morocco, HSM, University of Montpellier, CNRS, IRD, Montpellier, France; Bruneel O., HSM, University of Montpellier, CNRS, IRD, Montpellier, France; Zouagui R., Center of Research Plants and Microbial Biotechnologies, Biodiversity and Environment, Team of Microbiology and Molecular Biology, Faculty of Sciences, Mohammed V University in Rabat, Rabat, Morocco; Hakkou R., Laboratoire des Matériaux Innovants, Energie et Développement Durable (IMED)_Laboratory, Faculty of Science and Technology, Cadi Ayyad University, Marrakesh, Morocco, Geology & Sustainable Mining Institute (GSMI), Mohammed VI Polytechnic University (UM6P), Ben Guerir, Morocco; Sbabou L., Center of Research Plants and Microbial Biotechnologies, Biodiversity and Environment, Team of Microbiology and Molecular Biology, Faculty of Sciences, Mohammed V University in Rabat, Rabat, Morocco'

In [ ]:
dataset['Authors with affiliations'][1]

'Khouakhi A., School of Water, Energy and Environment, Centre for Environmental and Agricultural Informatics, Cranfield University, Cranfield, United Kingdom; Driouech F., Mohammed VI Polytechnic University, Benguerir, Morocco; Slater L., School of Geography and the Environment, University of Oxford, Oxford, United Kingdom; Waine T., School of Water, Energy and Environment, Centre for Environmental and Agricultural Informatics, Cranfield University, Cranfield, United Kingdom; Chafki O., Direction Générale de la Météorologie, Casablanca, Morocco; Chehbouni A., Mohammed VI Polytechnic University, Benguerir, Morocco; Raji O., Mohammed VI Polytechnic University, Benguerir, Morocco'

In [ ]:
dataset['Authors with affiliations'][3]

'Belafhal A., LPNAMME, Laser Physics Group, Department of Physics, Faculty of Sciences, Chouaïb Doukkali University, El Jadida, P. B 20, 24000, Morocco; Benzehoua H., LPNAMME, Laser Physics Group, Department of Physics, Faculty of Sciences, Chouaïb Doukkali University, El Jadida, P. B 20, 24000, Morocco; Balhamri A., Hassan First University of Settat, École Nationale des Sciences Appliquées, LISA, Berrechid, 26100, Morocco; Usman T., Department of General Requirements, University of Technology and Applied Sciences, Sur, 411, Oman'

In [ ]:
# Replace NaN with an empty string and ensure all values are strings
dataset['Affiliations'] = dataset['Affiliations'].fillna('').astype(str)
dataset['Authors with affiliations'] = dataset['Authors with affiliations'].fillna('').astype(str)

In [ ]:
import pandas as pd

# Sample dataset for demonstration

####dataset = pd.DataFrame(data)

# Step 1: Create a mapping for affiliations to authors
affiliation_author_map = {}

# Process each row in the dataset
for index, row in dataset.iterrows():
    # Split the "Authors with affiliations" column into individual authors with affiliations
    authors_with_affiliations = row['Authors with affiliations'].split('; ')

    for author_affiliation in authors_with_affiliations:
        # Extract the author's name (text before the first comma)
        parts = author_affiliation.split(',', 1)
        author_name = parts[0].strip()  # Extract the author's name

        if len(parts) > 1:
            affiliations = parts[1].split(';')  # Extract affiliations
            for affiliation in affiliations:
                affiliation = affiliation.strip()
                if affiliation not in affiliation_author_map:
                    affiliation_author_map[affiliation] = []
                affiliation_author_map[affiliation].append(author_name)

# Step 2: Collect the data in a list
affiliation_author_data = []

for affiliation, authors in affiliation_author_map.items():
    for author in set(authors):  # Avoid duplicates
        affiliation_author_data.append({
            'affiliation': affiliation,
            'author': author
        })

# Convert the list to a DataFrame
affiliation_authors_df = pd.DataFrame(affiliation_author_data)

# Step 3: Add an ID column for the affiliations
affiliation_authors_df['affiliation_id'] = affiliation_authors_df['affiliation'].factorize()[0] + 1  # Unique IDs starting from 1

# Display the results
print("Affiliations and their associated authors with IDs:")
print(affiliation_authors_df)

Affiliations and their associated authors with IDs:
                                             affiliation          author  \
0      Unité « Écologie, systématique et évolution »,...      Ouassou M.
1      National Agricultural Research Center (NARC)–J...    Mukhaimar M.
2      Laboratory of Biochemistry and Molecular Genet...    El Amrani A.
3      Unité « Écologie, systématique et évolution »,...     Chauveau O.
4      Unité « Écologie, systématique et évolution »,...     Kroymann J.
...                                                  ...             ...
39291  Regional Agricultural Research Center of Tadla...        Adiba A.
39292  The Environment and Soil Microbiology Unit, Fa...  Boutagayout A.
39293  National Institute of Agricultural Research (I...       Razouk R.
39294  National Institute of Agricultural Research (I...     Kouighat M.
39295  Department of intensive care unit, Maternity S...     Khairoun S.

       affiliation_id
0                   1
1                   2
2                   3
3                   4
4                   4
...               ...
39291           21885
39292           21886
39293           21887
39294           21887
39295           21888

[39296 rows x 3 columns]

In [ ]:
affiliation_authors_df

,affiliation,author,affiliation_id
0,Unité « Écologie,Chauveau O.,1
1,Unité « Écologie,Ouassou M.,1
2,Unité « Écologie,Kroymann J.,1
3,systématique et évolution »,Chauveau O.,2
4,systématique et évolution »,Ouassou M.,2
...,...,...,...
181287,BO 415,Kouighat M.,32714
181288,Regional Agricultural Research Center of Tadla,Adiba A.,32715
181289,Faculty of Sciences-Moulay Ismail University,Boutagayout A.,32716
181290,B.P.11201 Zitoune,Boutagayout A.,32717
181291,Department of intensive care unit,Khairoun S.,32718

In [ ]:
affiliation_authors_df.to_csv('/content/drive/MyDrive/Data-Scopus/DataSample/affiliation-author1.csv', index=False)

In [ ]:
affiliation_authors_df.isna().sum()

affiliation       0
author            0
affiliation_id    0
dtype: int64